header {
	
}

table{
	border-color: #AAAAAA;
	border-style: dotted solid;
	border-width: thin;
	border-radius: 5px;
	margin-top: 30px;
}

.limitChar {
	//overflow: hidden;
	width: 100px;
	color: ##FF0000;
	width: 300px;
}

tr {
	/*border-color: #AAAAAA;
	border-style: dotted solid;
	border-width: thin;*/
}

td{
	border-color: #AAAAAA;
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
	white-space: wrap;
	margin: 0 auto;
}

td:hover {
	background-color: #DEADA1;
}

th {
	background-color: #AAAAAA;
	border-color: #AAAAAA;
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
}

td.starPicture:hover {
	zoom:130%;
	position: relative;
	margin: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	/*transform:scale(1.2);
	-webkit-transform:scale(1.2);
	background-color: #FFFFFF;*/
}

img {
	height: 39px;
	width: 40px;
	float: left;
}

.starPicture {
	background-color: #FFFFFF;
}

navigation {
	
}

a {
	font-size: 25px;
	font-family: Lucida Console;
	margin: 5px;
}

a:link {
	COLOR: #3C4663;
}
a:visited {
	COLOR: #6D748C;
}
a:hover {
	COLOR: #BB7365;
}
a:active {
	COLOR: #6D748C;
}

footer {
	bottom: 0px;
	position: fixed;
}

tr:nth-child(even) {
    background-color: #BB7365;
}

tr:nth-child(odd) {
    background-color: #6D748C;
}